---
title: Test scenarios | CTC Traders API phase 5 testing guide
weight: 4
description: Software developers, designers, product owners or business analysts. Verify the compatibility of your software with CTC Traders API and learn how to test your application in our sandbox environment.
---

# Test scenarios

Use these scenarios when checking that your software functions correctly and that it is compatible with HMRC systems.

**Important:** The test scenarios will be updated as we add more functionality to the NCTS5 Trader Test environment. You should monitor the changelog for this document in the [ctc-traders-phase5-testing-guide](https://github.com/hmrc/ctc-traders-phase5-testing-guide/wiki/CTC-Traders-API-phase-5-testing-guide-changelog) GitHub wiki.

Rules and conditions that apply to information exchange (IE) messages as defined in the [NCTS Phase 5 technical interface specification](/guides/ctc-traders-phase5-tis/) work differently for Great Britain and Northern Ireland because of the Northern Ireland Protocol. Although Northern Ireland is not an EU member state, compliance with the requirements of the Northern Ireland Protocol means that rules and conditions should be applied in the same way as for EU member states.

[CTC Traders API v2.0](/api-documentation/docs/api/service/common-transit-convention-traders/2.0) integrates with both the Great Britain and Northern Ireland versions of the NCTS test system. These operate identically to the Great Britain and Northern Ireland live versions of the NCTS system.

Unless otherwise stated, all scenarios refer to a single house consignment going to a single consignee.

For each scenario, the relevant master reference data (see the NCTS5 Trader Test data spreadsheet in the [test pack](/guides/ctc-traders-phase5-testing-guide/documentation/test-pack.html)) is indicated along with any changes to that data that are needed to test that scenario. 

## Running test scenarios

Trader Test simulates both simplified and normal procedures. Simplified procedure declarations are released automatically, but a normal procedure declaration requires a manual intervention for it to be processed and released.

When you are testing a declaration that requires a manual intervention, please send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) to progress the declaration for release and include the following information in your email:

- email subject must include ‘Manual Intervention’
- email body must include:
  - the test scenario number, for example, ‘DSGB1’
  - the step number, for example, ‘step 3’, and action that you are expecting
  - the Local Reference Number (LRN)

NCTS support staff monitor the [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox during 9am to 5pm Mondays to Fridays and release test declarations regularly. When we release your movement, we will reply to your email to let you know. If you have not received an update about your movement request after 1 working day, please send a follow-up email to the declarant Test team mailbox.

**Note:** The [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox must be used only to request manual intervention. It should not be used for general enquiries.

**Note:** The automatic release period for scenarios using simplified departure procedure has been set to 45 minutes. This is to allow time for actions to be carried out where tests require manual intervention. In addition, the NCTS5 system reported time is 1 hour behind.

**Important:** You must follow the requirements and instructions for each test precisely and you must provide movement-specific information if requested.

### Message sender and recipient fields

When submitting departure and arrival messages in Trader Test, you must comply with the following guidelines for entering message sender and recipient details.

| Field | Guideline | Example |
| ----- | --------- | ------- |
| Message sender | Use your enrolment EORI number. | `<messageSender>9999912345</messageSender>` |
| Message recipient | For departure messages, you must enter `NTA` and the correct code for the country of the office of departure. For example, if submitting a departure message for GB-XI, enter `NTA.GB`. Alternatively, if submitting a departure message for XI-GB, enter `NTA.XI`.<br /><br />For arrival messages, you must enter `NTA` and the correct code for the country of the **actual** office of destination, which could be the different from the declared office of destination. For example, if submitting an arrival message for GB-XI, enter `NTA.XI`. Alternatively, if submitting an arrival message for XI-GB, enter `NTA.GB`.<br /><br />**Note:** You should disregard the format and maximum length guidelines (‘an..35‘) in the NCTS5 technical interface specification. | `<messageRecipient>NTA.GB</messageRecipient>` |

## Standard departures

### Great Britain to Northern Ireland

#### Simplified

##### DSGB1: Simplified departure declaration

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a simplified procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE029 is automatically generated and sent to the declarant. |

##### DSGB2: Simplified departure declaration with safety and security data

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a simplified procedure declaration that includes safety and security data (Transit Accompanying Document).

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Simplified GB-XI Security’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) E029 is automatically generated and sent to the declarant. |

##### DSGB3: Simplified departure declaration - Multiple house consignment

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a simplified multiple house consignment data declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘MHC Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) E029 is automatically generated and sent to the declarant. |

##### DSGB4: Cancellation request by the holder of the transit procedure before release for transit

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation request by the holder of the transit procedure before release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-request-by-the-holder-of-the-transit-procedure-before-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. | | Use the ‘GB-XI Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. |  |
| 3 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the cancellation request. | Required | | IE009 is sent to the declarant. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit IE014 as soon as IE028 has been received.

##### DSGB5: Cancellation of a transit declaration after release for transit

###### <span style="font-size:16px">Test purpose</span>

Test negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) E029 is automatically generated and sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. | Use the ‘GB-XI Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. | IE056 is sent to the declarant. |
##### DSGB6: Control by office of departure satisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of positive control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to control and release the movement. | Required | | A) IE060 is sent to the declarant.<br />B) IE029 is automatically generated and sent to the declarant. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit your manual intervention request as soon as IE028 has been received.

##### DSGB7: Control by office of departure unsatisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of negative control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to control and end the movement. | Required | | A) IE060 is sent to the declarant.<br />B) IE051 is sent to the declarant. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit your manual intervention request as soon as IE028 has been received.

##### DSGB8: Cancellation of a transit declaration after release for transit by office of departure

###### <span style="font-size:16px">Test purpose</span>

Test handling of negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE029 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to cancel the movement. | Required | | IE009 is sent to the declarant. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit your manual intervention request as soon as IE028 has been received.

##### DSGB9: Release for transit refused due to guarantee checks failure

###### <span style="font-size:16px">Test purpose</span>

Test guarantee rejection message handling.

###### <span style="font-size:16px">Process flow</span>

[Release for transit refused due to guarantee check failure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#release-for-transit-refused-due-to-guarantee-check-failure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message with an incorrect 'GRN' (guarantee reference number) to an office of departure in Great Britain. | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE055 is sent to the declarant.<br />D) IE051 is sent to the declarant. |

#### Normal

##### DNGB1: Normal departure declaration

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission and acceptance of a normal procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant. |

##### DNGB2: Normal departure declaration with safety and security data

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a normal procedure declaration that includes safety and security data (Transit Accompanying Document).

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI Security’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant. |

##### DNGB3: Normal departure declaration - Multiple house consignment

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a normal multiple house consignment data declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘MHC Normal GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant. |

##### DNGB4: Cancellation request by the holder of the transit procedure before release for transit

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation request by the holder of the transit procedure before release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-request-by-the-holder-of-the-transit-procedure-before-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration. | Required | | IE028 is generated and sent to the declarant. |
| 3 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. | | Use the ‘GB-XI Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. |  |
| 4 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the cancellation request. | Required |  | IE009 is sent to the declarant. |

##### DNGB5: Cancellation of a transit declaration after release for transit

###### <span style="font-size:16px">Test purpose</span>

Test negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and then release the movement. | Required |  |A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant.|
| 3 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. | | Use the ‘GB-XI Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. | IE056 is sent to the declarant. |

##### DNGB6: Control by office of departure satisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of positive control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and then control and release the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE060 is sent to the declarant. <br />C) IE029 is sent to the declarant -movement released. |

##### DNGB7: Control by office of departure unsatisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of negative control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and then control and end the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE060 is sent to the declarant. <br />C) IE051 is sent to the declarant. |

##### DNGB8: Cancellation of a transit declaration after release for transit by office of departure

###### <span style="font-size:16px">Test purpose</span>

Test handling of negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant.                              |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and then release and cancel the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant.<br />C) IE009 is sent to the declarant. |

##### DNGB9: Release for transit refused due to guarantee checks failure

###### <span style="font-size:16px">Test purpose</span>

Test guarantee rejection message handling.

###### <span style="font-size:16px">Process flow</span>

[Release for transit refused due to guarantee check failure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#release-for-transit-refused-due-to-guarantee-check-failure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1    | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message with an incorrect 'GRN' (guarantee reference number) to an office of departure in Great Britain. | | Use the ‘Simplified GB-XI’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept and reject the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE055 is sent to the declarant.<br />C) IE051 is sent to the declarant. |

### Northern Ireland to Great Britain

#### Simplified

##### DSXI1: Simplified departure declaration

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a simplified procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant<br />B) IE028 is generated and sent to the declarant.<br />C) IE029 is automatically generated and sent to the declarant. |

##### DSXI2: Simplified departure declaration with safety and security data

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a simplified procedure declaration that includes safety and security data (Transit Accompanying Document).

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Simplified XI-GB Security’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE029 is automatically generated and sent to the declarant. |

##### DSXI3: Simplified departure declaration - Multiple house consignment

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a simplified multiple house consignment data declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘MHC Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE029 is automatically generated and sent to the declarant. |

##### DSXI4: Cancellation request by the holder of the transit procedure before release for transit

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation request by the holder of the transit procedure before release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-request-by-the-holder-of-the-transit-procedure-before-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual intervention | Data | Result |
| ---- | ------ | ---- | ------ | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. |  | Use the ‘Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. |  | Use the ‘XI-GB Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. |  |
| 3 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the cancellation request. | Required |  | IE009 is sent to the declarant. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit IE014 as soon as IE028 has been received.

##### DSXI5: Cancellation of a transit declaration after release for transit

###### <span style="font-size:16px">Test purpose</span>

Test negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE029 is automatically generated and sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. | Use the ‘XI-GB Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. | IE056 is sent to the declarant. |

##### DSXI6: Control by office of departure satisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of positive control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to control and release the movement. | Required | | A) IE060 is sent to the declarant.<br />B) IE029 sent to the declarant. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit your manual intervention request as soon as IE028 has been received.

##### DSXI7: Control by office of departure unsatisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of negative control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to control and reject the movement. | Required | | A) IE060 is sent to the declarant.<br />B) IE051 sent to the declarant. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit your manual intervention request as soon as IE028 has been received.

##### DSXI8: Cancellation of a transit declaration after release for transit by office of departure

###### <span style="font-size:16px">Test purpose</span>

Test handling of negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE029 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to cancel the movement. | Required | | IE009 is sent to the declarant. |

**Note:** This scenario requires manual intervention.

##### DSXI9: Release for transit refused due to guarantee checks failure

###### <span style="font-size:16px">Test purpose</span>

Test guarantee rejection message handling.

###### <span style="font-size:16px">Process flow</span>

[Release for transit refused due to guarantee check failure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#release-for-transit-refused-due-to-guarantee-check-failure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1    | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message with an incorrect 'GRN' (guarantee reference number) to an office of departure in Northern Ireland. | | Use the ‘Simplified XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) IE028 is generated and sent to the declarant.<br />C) IE055 is sent to the declarant.<br />D) IE051 is sent to the declarant. |

#### Normal

##### DNXI1: Normal departure declaration

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission and acceptance of a normal procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required |  |A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant.|

##### DNXI2: Normal departure declaration with safety and security data

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a normal procedure declaration that includes safety and security data (Transit Accompanying Document).

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB Security’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required |  |A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant.|

##### DNXI3: Normal departure declaration - Multiple house consignment

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a normal multiple house consignment data declaration.

###### <span style="font-size:16px">Process flow</span>

[Standard Departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#standard-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘MHC Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required |  |A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant.|

##### DNXI4: Cancellation request by the holder of the transit procedure before release for transit

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation request by the holder of the transit procedure before release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-request-by-the-holder-of-the-transit-procedure-before-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. |  | Use the ‘Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. |IE928 is sent to the declarant.|
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration. | Required |  |IE028 is generated and sent to the declarant.|
| 3 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. |  | Use the ‘XI-GB Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. ||
| 4 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the cancellation request | Required |  |IE009 is sent to the declarant.|

##### DNXI5: Cancellation of a transit declaration after release for transit

###### <span style="font-size:16px">Test purpose</span>

Test negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant.                              |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required |  |A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant.|
| 3 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to notify the office of departure of decision to cancel the transit declaration. | | Use the ‘XI-GB Cancellation’ column on the ‘IE014’ tab of the NCTS5 Trader Test data spreadsheet. | IE056 is sent to the declarant. |

##### DNXI6: Control by office of departure satisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of positive control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and control and release the movement. | Required | | A) IE028  is generated and sent to the declarant.<br />B) IE060 is sent to the declarant.<br />C) IE029 is sent to the declarant - movement released. |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit your manual intervention request as soon as IE028 has been received.

##### DNXI7: Control by office of departure unsatisfactory

###### <span style="font-size:16px">Test purpose</span>

Test handling of negative control messages.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and control and reject the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE060 is sent to the declarant.<br />C) IE051 is sent to the declarant |

**Note:** This scenario requires manual intervention and is affected by a timer. Please submit your manual intervention request as soon as IE028 has been received.

##### DNXI8: Normal departure declaration TIR

###### <span style="font-size:16px">Test purpose</span>

Test the TIR movement.

###### <span style="font-size:16px">Process flow</span>

[Control by office of departure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#control-by-office-of-departure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-XI TIR’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release the movement. | Required | | A) IE028  is generated and sent to the declarant.<br /> B) IE029 is sent to the declarant. |

##### DNXI9: Cancellation of a transit declaration after release for transit by office of departure

######  <span style="font-size:16px">Test purpose</span>

Test handling of negative cancellation message handling.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of a transit declaration after release for transit](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-a-transit-declaration-after-release-for-transit)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and release and cancel the movement. | Required |  | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant.<br />C) IE009 is sent to the declarant. |

**Note:** This scenario requires manual intervention.

##### DNXI10: Release for transit refused due to guarantee checks failure

###### <span style="font-size:16px">Test purpose</span>

Test guarantee rejection message handling.

###### <span style="font-size:16px">Process flow</span>

[Release for transit refused due to guarantee check failure](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#release-for-transit-refused-due-to-guarantee-check-failure)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message with an incorrect 'GRN' (guarantee reference number) to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send an email to [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to accept the declaration and reject the movement. | Required | | A) IE028 is generated and sent to the declarant.<br />B) IE055 is sent to the declarant.<br />C) IE051 is sent to the declarant. |

## Pre-lodged departures

### Great Britain to Northern Ireland

#### Simplified

##### PSGB1: Pre-lodged declaration 

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a pre-lodged simplified procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification valid](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Simplified GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant.                              |
| 2 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. | Use the ‘Simplified GB-XI’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant. |

##### PSGB2: Transit presentation not valid/rejected

###### <span style="font-size:16px">Test purpose</span>

Test handling of rejection message for invalid electronic presentation message.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification not valid](https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-not-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Simplified GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) Await Presentation Notification Timer starts for presentation of the goods. |
| 2 | Send an invalid ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message with the ‘Authorisation number‘ field omitted to the office of departure. | Use the ‘Simplified GB-XI’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE056 is generated and sent to the declarant.<br />B) Await Presentation Notification Timer expires for presentation of the goods.<br />C) IE056 is sent to the declarant - movement is rejected. |

**Note:** This scenario is affected by timers. 

##### PSGB3: Corrections (Amendments) 

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of an amended pre-lodged simplified procedure declaration before presentation of the goods. 

###### <span style="font-size:16px">Process flow</span>

[Corrections of the pre-lodgement declaration prior to presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#corrections-of-the-pre-lodgement-declaration-prior-to-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Simplified GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Declaration Amendment‘ E_DEC_AMD (IE013) message to the office of departure. | Use the ‘Simplified GB-XI’ column on the ‘IE013’ tab of the NCTS5 Trader Test data spreadsheet. | IE004 is sent to the declarant. |
| 3 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. | Use the ‘Simplified GB-XI’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant. |

##### PSGB4: Cancellation 

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of the pre-lodged declaration prior to the presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-the-pre-lodged-declaration-prior-to-the-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Simplified GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) to the office of departure. | Use the ‘GB-XI Cancellation Pre-lodged’ column on the ‘IE014‘ tab of the NCTS5 Trader Test data spreadsheet. | IE009 is sent to the declarant. |

#### Normal

##### PNGB1: Pre-lodged declaration

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a pre-lodged normal procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification valid](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant.                              |
| 2 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. |  | Use the ‘Normal GB-XI’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | IE028 is sent to the declarant. |
| 3 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to release the movement. | Required |  | IE029 is sent to the declarant. |

##### PNGB2: Transit presentation not valid/rejected

###### <span style="font-size:16px">Test purpose</span>

Test handling of rejection message for invalid electronic presentation message.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification not valid](https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-not-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Normal GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) Await Presentation Notification Timer starts for presentation of the goods. |
| 2 | Send an invalid ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message with an incorrect ‘UN LOCODE‘ to the office of departure. | Use the ‘Normal GB-XI’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE056 is generated and sent to the declarant.<br />B) Await Presentation Notification Timer expires for presentation of goods.<br />C) IE056 is sent to the declarant - movement is rejected. |

**Note:** This scenario is affected by timers. 

##### PNGB3: Corrections (Amendments) 

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of an amended pre-lodged normal procedure declaration before presentation of the goods. 

###### <span style="font-size:16px">Process flow</span>

[Corrections of the pre-lodgement declaration prior to presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#corrections-of-the-pre-lodgement-declaration-prior-to-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | | Use the ‘Normal GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a 'Declaration Amendment' E_DEC_AMD (IE013) message to the office of departure. |  | Use the ‘Normal GB-XI’ column on the ‘IE013’ tab of the NCTS5 Trader Test data spreadsheet. | IE004 is sent to the declarant. |
| 3 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. |  | Use the ‘Normal GB-XI’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | IE028 is generated and sent to the declarant. |
| 4 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to release the movement. | Required |  | IE029 is sent to the declarant. |

##### PNGB4: Cancellation

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of the pre-lodged declaration prior to the presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-the-pre-lodged-declaration-prior-to-the-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Great Britain. | Use the ‘Normal GB-XI Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) to the office of departure. | Use the ‘GB-XI Cancellation Pre-lodged’ column on the ‘IE014 tab of the NCTS5 Trader Test data spreadsheet. | IE009 is sent to the declarant. |

## Northern Ireland to Great Britain

#### Simplified

##### PSXI1: Pre-lodged declaration

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a pre-lodged simplified procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification valid](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Simplified XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. | Use the ‘Simplified XI-GB’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant. |

##### PSXI2: Transit presentation not valid/rejected

###### <span style="font-size:16px">Test purpose</span>

Test handling of rejection message for invalid electronic presentation message.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification not valid](https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-not-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Simplified XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) Await Presentation Notification Timer starts for presentation of the goods. |
| 2 | Send an invalid ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message with the ‘Authorisation number‘ field omitted to the office of departure. | Use the ‘Simplified XI-GB’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE056 is generated and sent to the declarant.<br />B) Await Presentation Notification Timer expires for presentation of goods.<br />C) IE056 is sent to the declarant - movement is rejected. |

**Note:** This scenario is affected by timers. 

##### PSXI3: Corrections (Amendments) 

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of an amended pre-lodged simplified procedure declaration before presentation of the goods. 

###### <span style="font-size:16px">Process flow</span>

[Corrections of the pre-lodgement declaration prior to presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#corrections-of-the-pre-lodgement-declaration-prior-to-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Simplified XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Declaration Amendment‘ E_DEC_AMD (IE013) message to the office of departure. | Use the ‘Simplified XI-GB’ column on the ‘IE013’ tab of the NCTS5 Trader Test data spreadsheet. | IE004 is generated and sent to the declarant. |
| 3 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. | Use the ‘Simplified XI-GB’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE028 is generated and sent to the declarant.<br />B) IE029 is sent to the declarant. |

##### PSXI4: Cancellation

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of the pre-lodged declaration prior to the presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-the-pre-lodged-declaration-prior-to-the-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Simplified XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) to the office of departure. | Use the ‘XI-GB Cancellation Pre-lodged’ column on the ‘IE014 tab of the NCTS5 Trader Test data spreadsheet. | IE009 is sent to the declarant. |

#### Normal

##### PNXI1: Pre-lodged declaration

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a pre-lodged normal procedure declaration.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification valid](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. |                     | Use the ‘Normal XI-GB’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | IE028 is sent to the declarant. |
| 3 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to release the movement. | Required |  | IE029 is sent to the declarant. |

##### PNXI2: Transit presentation not valid/rejected

###### <span style="font-size:16px">Test purpose</span>

Test handling of rejection message for invalid electronic presentation message.

###### <span style="font-size:16px">Process flow</span>

[Transit presentation notification not valid](https://developer.service.hmrc.gov.uk/guides/ctc-traders-phase5-tis/documentation/process_flows.html#transit-presentation-notification-not-valid)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Normal XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE928 is sent to the declarant.<br />B) Await Presentation Notification Timer starts for presentation of the goods. |
| 2 | Send an invalid ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message with an incorrect ‘UN LOCODE‘ to the office of departure. | Use the ‘Normal XI-GB’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | A) IE056 is generated and sent to the declarant.<br />B) Await Presentation Notification Timer expires for presentation of goods.<br />C) IE056 is sent to the declarant - movement is rejected. |

**Note:** This scenario is affected by timers. 

##### PNXI3: Corrections (Amendments) 

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of an amended pre-lodged normal procedure declaration before presentation of the goods. 

###### <span style="font-size:16px">Process flow</span>

[Corrections of the pre-lodgement declaration prior to presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#corrections-of-the-pre-lodgement-declaration-prior-to-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Manual Intervention | Data | Result |
| ---- | ------ | ------------------- | ---- | ------ |
| 1  | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | | Use the ‘Normal XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Declaration Amendment‘ E_DEC_AMD (IE013) message to the office of departure. | | Use the ‘Normal XI-GB’ column on the ‘IE013’ tab of the NCTS5 Trader Test data spreadsheet. | IE004 is generated and sent to the declarant. |
| 3 | Send a ‘Presentation Notification For The Pre-Lodged Declaration’ E_PRE_NOT (IE170) message to the office of departure. | | Use the ‘Normal GB-XI’ column on the ‘IE170’ tab of the NCTS5 Trader Test data spreadsheet. | IE028 is generated and sent to the declarant. |
| 4 | Send an email to  [nctsp5tradertest@hmrc.gov.uk](mailto:nctsp5tradertest@hmrc.gov.uk) mailbox to release the movement. | Required |  | IE029 is sent to the declarant. |

##### PNXI4: Cancellation

###### <span style="font-size:16px">Test purpose</span>

Test the successful creation, submission, and acceptance of a cancellation request and handling of the response message.

###### <span style="font-size:16px">Process flow</span>

[Cancellation of the pre-lodged declaration prior to the presentation of the goods](/guides/ctc-traders-phase5-tis/documentation/process_flows.html#cancellation-of-the-pre-lodged-declaration-prior-to-the-presentation-of-the-goods)

###### <span style="font-size:16px">Test</span>

| Step | Action | Data | Result |
| ---- | ------ | ---- | ------ |
| 1 | Send a ‘Declaration Data’ E_DEC_DAT (IE015) message to an office of departure in Northern Ireland. | Use the ‘Normal XI-GB Pre-lodged’ column on the ‘IE015’ tab of the NCTS5 Trader Test data spreadsheet. | IE928 is sent to the declarant. |
| 2 | Send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) to the office of departure. | Use the ‘XI-GB Cancellation Pre-lodged’ column on the ‘IE014 tab of the NCTS5 Trader Test data spreadsheet. | IE009 is sent to the declarant. |
